apiVersion: v1 
kind: Pod 
metadata:
  name: pod-configMap-demo
spec:
  containers: 
    - name: nginx
      image: nginx
      envFrom:
        - configMapRef:
            name: pod-configmap 